
body {
    background-color: rgba(40,50,60);
}
.gray-background {
    background-color: rgb(300,60,75);
    border-radius: 10px 10px 10px 10px;
    opacity: 0.75
 }
  .gray-text {
    color: gray;
  }
  .transparentpls {
    filter:alpha(opacity=0)
  }


